@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
}
a{
    color: inherit; 
    text-decoration: none;
}
img{
    max-width:100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.row{
    max-width: 1903px;
    margin: 0 auto;
}
/*===================================================================================================*/
#header{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ffbc0d;
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 100;
}
#header .row{
    display: flex;
    justify-content: space-between;
    height: 140px;
    position: relative;
}
#header .row:hover + .bgbox{ /* + 기호는 동생 박스를 같이 사용할 때 사용할 수 있음*/
    display: block;
    border-top: 1px solid #e0dede;
}
#header .bgbox{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 350px;
    background: #fff;
    z-index: 99;
    display: none;
}
#header #nav{
    display: flex;
}
#header .row h1{
    padding: 10px;
}
#header #nav ul.depth1{
    display: flex;
    font-weight: bold;
}
#header .row #nav ul.depth1 > li {
    text-align: center;
    position: relative;
    font-size: 20px;
    margin: 0 85px 0 30px;
    padding: 0 10px;
    align-items: center;
    display: flex;
}
#header #nav ul.depth2{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    background-color: #fff;
    color: #808080; 
    font-size: 16px;
    border-top: 3px solid #ffbc0d;
    z-index: 999;
    padding: 35px 10px 45px;
}
#header #nav ul.depth1:hover ul.depth2{
    display: block;
    /* border-top: 3px solid #ffbc0d; */
}
#header .row #nav ul.depth2 > li{
    margin: 15px 0 0;
}
#header .row #nav ul.depth2 > li > a {
    border-bottom: 1px solid rgba(132, 132, 132, 0.15);
    background-color: #fff;
    display: block;
}
#header .row #nav ul.depth2 > li > a:hover{
    border-bottom: 1px solid #000;
    color: #000;
}
#header #nav ul.lang{
    display: flex;
    align-items: center;
    text-align: center;
}
#header #nav ul.lang .renter1,
#header #nav ul.lang .renter2,
#header #nav ul.lang .renter3{
    padding: 8px;
    text-align: center;
    border-radius: 48px;
    margin: 2px;
    width: 80px;
    height: 36px;
    font-size: 13px;
    color: #fff;
}
#header #nav ul.lang .renter1{
    background: #db0007;
}
#header #nav ul.lang .renter2{
    background: #d87e00;
}
#header #nav ul.lang .renter3{
    background: #264a36;
}
/*==========================================================================================*/
#section{
    position: relative;
    z-index: 1;
    margin-top: 141px;
}
#section .slide{
    position: relative;
}
#section .slide img{
    max-width: 100%;
}
/*===================================================================================================*/
#section .slideouter .slideinner{
    position: relative
}
#section .slideouter .slideinner button.slick-arrow{
    position: absolute;
    color: #fff;
    font-size: 90px;
    top: 50%;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 80%;
}
#section .slideouter .slideinner button.slick-prev{
    left: 50px;
    z-index: 999;
}
#section .slideouter .slideinner button.slick-next{
    right: 50px;
}
#section .slideouter .slideinner ul.slick-dots{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
}
#section .slideouter .slideinner ul.slick-dots li{
    display: inline-block;
    margin: 0 5px;
}
#section .slideouter .slideinner ul.slick-dots button{
    border-radius: 50%;
    width: 9px;
    height: 9px;
    text-indent: 9999px;
    overflow: hidden;
    background: #fff;
    border: none;
}
#section .slideouter .slideinner ul.slick-dots li.slick-active button{
    background: #ffbc0d;
    width: 25px;
    height: 8px;
    border-radius: 20% / 50%;
}
/*===================================================================================================*/
#section .LIVE{
    padding: 30px 0 40px;
    margin: 0 100px 0 100px;
}
#section .LIVE h2{
    font-size: 40px;
    color: #292929;
    margin: 0 0 20px 270px;
}
#section .LIVE .ADV{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    justify-content: center;
    font-weight: bold;
}
#section .LIVE .ADV li{
    flex: 0 0 30%;

}
#section .LIVE .ADV li p {
    margin: 0; /* 기본 마진을 제거하여 더 깔끔하게 보이도록 설정 */
    display: flex;
    flex-direction: column;
    padding: 24px 30px;
    font-size: 18px;
}
#section .LIVE .ADV .photo{
    border: 0px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 0 0 50px 0;
    margin: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#section .LIVE .ADV a{
    position: relative;
}
#section .LIVE .ADV .photo:hover{
    transform: scale(1.02);
    transform-origin: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0.8;
}
#section .LIVE .ADV .photo img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
/*===================================================================================================*/
#section .advpop{
    color: white;
    position: fixed;
    bottom: 90px;
    left: 1600px;
    z-index: 2;
}
#section .advpop li{
    margin: 15px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s;
}
#section .advpop li:hover{
    transform: scale(1.1);
}
/*==================================================================================*/
#footer{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 50px 0;
    background: #292929;
    height: 259px;
}
#footer .btmmenu{
    display: flex;
    justify-content: space-between;
}
#footer .btmmenu .companyinfo{
    display: flex;
    font-size: 14px;
    font-weight: bold;
}
#footer .btmmenu .companyinfo .privacy{
    color: #ffff00;
}
#footer .btmmenu .companyinfo a{
color: #fff;
display: inline-block;
padding: 5px 0 0 350px;

}
#footer .btmmenu .companyinfo p{
    color: #888;
    padding: 5px 0 0 150px;
}
#footer .btmmenu .companyinfo p > span{
    display: block;
}
#footer .btmmenu .sns{
    margin: 50px;
    float: right;
    padding-right:300px;
}
#footer .btmmenu .sns a{
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    color: #fff;
    transition: all 0.3s;
}
#footer .btmmenu .sns a:hover{
    color: #000
}
